host: http://10.43.77.224

run_config:
  image: new-kedro-project
  experiment_name: New Kedro Project
  run_name: New Kedro Project
  wait_for_completion: False
  volume:
    storageclass: # default
    size: 1Gi
    access_modes: [ReadWriteOnce]
